.coupon .widget-title, .coupon #coupon_code, .coupon .is-form.expand.button{
    display: none !important;
}
#encrypt-voucher {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #333;
    font-size: .97em;
    height: 2.507em;
    max-width: 100%;
    padding: 0 .75em;
    transition: color .3s, border .3s, background .3s, opacity .3s;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1em;
}
.mxp-main .voucher-section h3 {
    border-bottom: 3px solid #ececec;
    font-size: .95em;
    margin-bottom: 15px;
    padding-bottom: 10px
    color: #0a0a0a !important;
}
.mxp-main .voucher-section h3 i {
    margin-right: 4px;
    opacity: .35;
}
tr.coupon-mils15p th {
    display: none !important;
}
tr.cart-discount:before {
    content: 'Coupon Exclusive Partnership';
    display: block;
    font-size: .9em;
    letter-spacing: 0;
    text-transform: inherit;
    border-bottom: 1px solid #ececec;
    line-height: 2.05;
    padding: 10px 5px;
}
