.upload-field {
    position: relative;
    overflow: hidden;
    width: max-content;
    border-radius: 5em;
}
.upload-field input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.upload-field .overlay-btn {
    margin: 0 !important;
    padding: 1em 2em;
    font-weight: 700;
    color: #fff;
    background: #2F2F2F;
    font-size: 1.5em;
    text-transform: none !important;
    pointer-events: none;
    z-index: -1;
}
.mid-grid .banner-inner .fill {
    border-radius: 0px !important;
}

.mid-grid {
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}