.upload-field {
    position: relative;
    overflow: hidden;
    width: max-content;
    border-radius: 5em;
}
.upload-field input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}
.upload-field .overlay-btn {
    margin: 0 !important;
    padding: 1em 2em;
    font-weight: 700;
    color: #fff;
    background: #2F2F2F;
    font-size: 1.5em;
    text-transform: none !important;
    pointer-events: none;
    z-index: -1;
}
.mid-grid .banner-inner .fill {
    border-radius: 0px !important;
}

.mid-grid {
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}
.overlay-fixed {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255,255,255 , .86);
}
.voucher-display {
    display: none;
    background: #2F2F2F;
    padding: 2em;
    grid-auto-flow: row;
    width: max-content; 
    height: max-content;
    border-radius: 2em;
    color: #fff !important;
    align-self: center;
    justify-self: center;
}
.voucher-display label {
    color: #fff !important;
}
.voucher-display .t1, .voucher-display .t2{
    text-align: center;
}
.voucher-title {
    margin-bottom: 2em;
}
.voucher-type {
    font-size: 2em;
}
.voucher-ship {
    font-size: 1em;
}
#voucher-output {
    font-size: 1.2em;
    margin: 2em 0em;
    text-align: center;
    color: #fff !important;
}
#btn-copy-voucher {
    background: #fff;
    color: #4b4b4c;
    border-radius: 3em;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .5);
    margin: 0 !important;
}
/* =============================== */
/* 4. Loading Overlay */
/* =============================== */

/* Overlay: Membuat layar gelap dan menutupi semua konten saat loading */
.overlay-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Warna semi-transparan */
    display: none; /* Disembunyikan secara default, dikontrol oleh JS */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Pastikan di atas elemen lain */
}

/* Spinning Loading Element */
.spinning-loading { 
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Warna lingkaran luar */
    border-top: 5px solid #3498db; /* Warna lingkaran yang berputar (biru) */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Panggil animasi spin */
}

/* Keyframes untuk Animasi Putar */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





